<h1>注册用户</h1>

<form action="/user/register" method="post">
  用户名 <input name="username" /><br/>
  密码 <input name="password" type="password" /><br/>
  <button>注册</button>
  <!-- 确认密码 <input name="password" /> -->
</form>
